<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Shooter | Home 1</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" type="text/css" href="../static/inc/custom-slider/css/nivo-slider.css"
          th:href="@{/inc/custom-slider/css/nivo-slider.css}">
    <link rel="stylesheet" type="text/css" href="../static/inc/custom-slider/css/preview.css"
          th:href="@{/inc/custom-slider/css/preview.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- TimeCircles css -->
    <link rel="stylesheet" type="text/css" href="../static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <![endif]-->
</head>

<body class="home">

<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->

<!--Header area start here-->
<header>
    <div class="header-top-area hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="header-top-left">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="right-side-tool text-right">
                        <div class="social-media-area">
                        </div>
                        <div class="header-top-right">
                            <ul th:unless="${isAuthenticated}">
                                <li><i class="fa fa-users"></i><a href="#" th:href="@{/auth/login}">Login</a></li>
                            </ul>
                            <ul th:if="${isAuthenticated}">
                                <li><i class="fa fa-users"></i><a href="#"
                                                                  th:text="${'Hello, ' + session.loggedFirstName}"
                                                                  th:href="@{/users/{id}(id=${session.loggedId})}">Hello</a>
                                </li>
                            </ul>
                        </div>
                        <div class="header-top-right">
                            <ul th:if="${isAuthenticated}">
                                <li><i class="fa fa-users"></i><a href="#" th:href="@{/auth/logout}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle-area" id="sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="index.html" th:href="@{/}"><img src="../static/images/logo.png"
                                                                 th:src="@{/images/logo.png}"
                                                                 alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="index.html" th:href="@{/}">Home </a>
                                </li>
                                <li><a href="#" th:if="${isAuthenticated}">My Info <i class="fa fa-angle-down"></i></a>
                                    <ul th:if="${isAuthenticated}" >
                                        <li><a href="portfolio1.html" th:if="${isAuthenticated}"
                                               th:href="@{/users/{id}(id=${session.loggedId})}">My Profile
                                        </a></li>
                                        <li><a href="portfolio2.html" th:unless="${isOrganizer}"
                                               th:href="@{/entries/}">My Participations
                                        </a></li>
                                        <li><a href="single-portfolio.html" th:if="${isOrganizer}"
                                               th:href="@{/entries/}">All Participations
                                        </a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery.html" th:if="${isAuthenticated}" th:href="@{/contests}">Dashboard <i
                                        class="fa fa-angle-down"></i></a>
                                    <ul th:if="${isAuthenticated}" >
                                        <li><a href="gallery.html" th:href="@{/contests/one}">Phase One</a></li>
                                        <li><a href="gallery1.html" th:href="@{/contests/two}">Phase Two</a></li>
                                        <li><a href="gallery2.html" th:href="@{/contests/finished}">Phase Finished</a>
                                        </li>
                                        <li><a href="gallery2.html" th:if="${isOrganizer}" th:href="@{/contests/new}">Contest New</a></li>
                                        <li><a href="contests" th:if="${isOrganizer}" th:href="@{/contests/filter}">Search Contest</a></li>
                                        <li><a href="contests" th:if="${isOrganizer}" th:href="@{/entries/search}">Search Entry</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                    <ul>
                                        <ul>
                                            <li><a href="winners.html" th:if="${isAuthenticated}" th:href="@{/winners}">Winners</a></li>
                                            <li><a href="users.html" th:if="${isOrganizer}" th:href="@{/users}">Users</a></li>
                                            <li><a href="users.html" th:if="${isOrganizer}" th:href="@{/invites}">Invites</a></li>
                                        </ul>
                                        <li><a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Registration</a></li>
                                    </ul>
                                </li>
                                <li th:unless="${isAuthenticated}"></li>
                                <li><a href="contact.html" th:href="@{/swagger-ui/}">Swagger</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header area end here-->

<!-- Footer Area Section Start Here -->
<footer>
    <div class="footer-top-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="single-footer footer-one">
                        <h3>About Team 16</h3>
                        <p>“Talent wins games, but teamwork and intelligence win championships” Michael Jordan</p>
                        <div class="footer-social-media-area">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 hidden-sm">
                    <div class="single-footer footer-two">
                    </div>
                </div>
                <div class="col-lg-3 hidden-md col-sm-12">
                    <div class="single-footer footer-three">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="single-footer footer-four margin-0">
                        <h3>Corporate Office</h3>
                        <nav>
                            <ul>
                                <li><i class="fa fa-paper-plane-o"></i> 1612 Sofia, Bulgaria</li>
                                <li><i class="fa link-section"></i>
                                    <a th:href="@{https://www.linkedin.com/in/yoanna-stoeva/}" target="_blank">
                                        Yoana Stoeva Linkedin
                                    </a>
                                </li>
                                <li><i class="fa link-section"></i>
                                    <a th:href="@{https://www.linkedin.com/in/dimitar-n-petrov/}" target="_blank">
                                        Dimitar Petrov Linkedin
                                    </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-bottom">
                        <p> &copy; Copyrights Yoana Stoeva & Dimitar Petrov 2022. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area Section End Here -->
</body>
</html>