<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/general.html::head (title = 'Home')"></div>
    <body class="home">
        <!--Preview area start here-->
            <div class="template-preloader-rapper">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        <!--End preview here -->
        <!--Header area start here-->
        <div th:replace="fragments/general.html::header"></div>
        <!--Header area end here-->

        <!-- Slider Area Start Here-->
        <div class="slider-area" th:each="contest : ${winners.keySet()}" >
            <div class="bend niceties preview-2">
                <div id="ensign-nivoslider" class="slides"  th:unless="${winners.get(contest).get(1) == null}">
                    <img src="../images/slider/slide_3.jpg"  th:unless="${winners.get(contest).get(1) == null}"
                         th:each="firstPlace : ${winners.get(contest).get(1)}" th:src="${firstPlace.getPhoto().getPath()}" alt="" title="#slider-direction-1" />
                    <img src="../images/slider/slide_4.jpg" th:unless="${winners.get(contest).get(2) == null}"
                         th:each="firstPlace : ${winners.get(contest).get(2)}" th:src="${firstPlace.getPhoto().getPath()}"  alt="" title="#slider-direction-2" />
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-1" class="slider-direction"  th:unless="${winners.get(contest).get(1) == null}">
                    <div class="slider-content t-cn s-tb slider-1">
                        <div class="title-container s-tb-c">
                            <h1 class="title1 uppercase" th:text="${contest.getTitle()}"><span>Latest Contest Winners</span> Photo Graphy Shop </h1>
                            <div class="slider-botton">
                                <ul>
                                    <li class="acitve"><a class="radius-0" th:href="@{/contests/{id}(id=${contest.getId()})}" >View Contest <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-2" class="slider-direction"  th:unless="${winners.get(contest).get(1) == null}" >
                    <div class="slider-content t-cn s-tb slider-2">
                        <div class="title-container s-tb-c">
                            <h1 class="title1 uppercase"  th:text="${contest.getTitle()}"  ><span>Creative</span> Photo Graphy Agency</h1>
                            <div class="slider-botton">
                                <ul>
                                    <li class="acitve"><a class="radius-0" th:href="@{/contests/{id}(id=${contest.getId()})}" >View Contest <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End Here-->
        <!--Winner area start here-->
        <div class="home-gellary-area pt-90 pb-100">
            <div class="container">
                <div class="row" th:each="contest : ${winners.keySet()}" >
                    <div class="col-lg-12 col-md-12 col-sm-12" >
                        <div class="section-title">
                            <h2 th:if="${winners.get(contest).get(1).size() == 1}" >Last Contest<span> Winner </span> </h2>
                            <h2 th:unless="${winners.get(contest).get(1).size() == 1}" >Last Contest<span> Winners </span> </h2>
                            <img src="../static/images/line.png" th:href="@{/images/line.png}" alt="line image">
                        </div>
                    </div>
                    <div class="home-about-photo-contest-area pt-100 pb-100" style="padding-top: 10px" >
                        <div class="container">
                            <div class="row" >
                                <div class="col-sm-12 mb-50" th:unless="${winners.get(contest).get(1) == null}"
                                     th:each="firstPlace : ${winners.get(contest).get(1)}"  >
                                    <div class="single-section text-center">
                                        <div class="section-img">
                                            <img src="../static/images/contest/big1.jpg"
                                                 th:src="${firstPlace.getPhoto().getPath()}" alt="single Images"  />
                                          </div>
                                        <h3 class="headding-title" th:text="${firstPlace.getTitle()}" >Black And White Compositions</h3>
                                        <ul id="meta-text">
                                            <li class="date" th:text="${firstPlace.getParticipant().getFirstName()} + ' '
                                         + ${firstPlace.getParticipant().getLastName()}" ><i class="fa fa-calendar-check-o"></i> Name </li>
                                            <li class="date" ><i class="fa fa-calendar-times-o" aria-hidden="true"></i> First Place</li>
                                        </ul>
                                        <p class="des" th:text="${contest.getTitle()}" >Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                                        <div class="link-section">
                                            <a href="single-contest2.html" class="read-btn primary-btn" th:href="@{/contests/{id}(id=${contest.getId()})}">View contest</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Winner area ends here-->

        <!-- Counter Up Section Start Here-->
        <div class="project-activation-area pt-100 pb-100">
            <div class="container">
                <div class="ab-count">
                    <div class="row">
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-picture-o"></i>
                                <h1 class="about-counter" th:text="${entries}" >10222</h1>
                                <p>Photos</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration=".7s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-heart"></i>
                                <h1 class="about-counter" th:text="${reviews}" >6000</h1>
                                <p>Rated</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration=".9s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-users"></i>
                                <h1 class="about-counter" th:text="${users}"  >15642</h1>
                                <p>Users</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-trophy"></i>
                                <h1 class="about-counter" th:text="${contests}"  >97</h1>
                                <p>Contests </p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Down Section End Here-->

        <!-- Footer Area Section Start Here -->
        <div th:replace="fragments/general.html::footer"></div>
        <!-- Footer Area Section End Here -->

        <!-- jquery latest version -->
        <script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
        <!-- bootstrap js -->
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- owl.carousel js -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- owl.carousel js -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- meanmenu js -->
        <script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
        <!-- jquery-ui js -->
        <script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
        <!-- wow js -->
        <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <!-- jquery.counterup js -->
        <script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
        <script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
        <!-- jquery light box -->
        <script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
        <!-- isotope.pkgd.min js -->
        <script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
        <!-- imagesloaded.pkgd.min js -->
        <script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
        <!-- magnific popup -->
        <script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <!-- jQuery MixedIT Up -->
        <script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
        <!-- Counter Down js -->
        <script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
        <!-- Nivo slider js -->
        <script src="../static/inc/custom-slider/js/jquery.nivo.slider.js" th:src="@{/inc/custom-slider/js/jquery.nivo.slider.js}"></script>
        <script src="../static/inc/custom-slider/home.js" th:src="@{/inc/custom-slider/home.js}"></script>
        <!-- jQuery Multistep form -->
        <script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
        <!-- jquery.fancybox.pack js -->
        <script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
        <!-- plugins js -->
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <!-- jquery weave effects -->
        <script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
		<!-- TimeCircles js -->
        <script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
        <!-- main js -->
        <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    </body>
</html>