<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>Shooter | Home 2</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <!-- font-awesome css -->
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
        <!-- nivo slider CSS -->
        <link rel="stylesheet" type="text/css" href="../static/inc/custom-slider/css/nivo-slider.css" th:href="@{/inc/custom-slider/css/nivo-slider.css}">
        <link rel="stylesheet" type="text/css" href="../static/inc/custom-slider/css/preview.css" th:href="@{/inc/custom-slider/css/preview.css}">
        <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
        <!-- TimeCircles css -->
        <link rel="stylesheet" type="text/css" href="../static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
        <!-- responsive css -->
        <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
        <!-- modernizr css -->
        <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--Preview area start here-->
        <div class="template-preloader-rapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->
        <!--Header area start here-->
        <header>
            <div class="header-top-area hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="header-top-left">
                                <ul>
                                    <li><i class="fa fa-phone"></i><a href="tel:+985-2356-14566">+985-2356-14566</a></li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="right-side-tool text-right">
                                <div class="social-media-area">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="header-top-right">
                                    <ul>
                                        <li><i class="fa fa-users"></i><a href="#" th:href="@{/auth/register}">Login/Registration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle-area" id="sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="logo-area">
                                <a href="index.html"><img src="images/logo.png" th:src="@{images/logo.png}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="index.html">Home <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index2.html">Home Two</a></li>
                                            </ul>
                                        </li>
                                         <li><a href="about.html">About <i class="fa fa-angle-down"></i></a> 
                                            <ul>
                                                <li><a href="about.html">About Us</a> 
                                                <li><a href="about-me.html">About Me</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Portfolio <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="portfolio1.html">Portfolio 1</a></li>
                                                <li><a href="portfolio2.html">Portfolio 2</a></li>
                                                <li><a href="single-portfolio.html">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery.html">Gallery  <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="gallery.html">Gallery One</a></li>
                                                <li><a href="gallery1.html">Gallery Two</a></li>
                                                <li><a href="gallery2.html">Gallery Three</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="product-details.html">Product Details</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="photocontest-list1.html">Photo Contest List 1</a></li>
                                                <li><a href="photocontest-list2.html">Photo Contest List 2</a></li>
                                                <li><a href="single-contest1.html">Single Contest 1</a></li>
                                                <li><a href="single-contest2.html">Single Contest 2</a></li>
                                                <li><a href="photo-details.html">Photo Details</a></li>
                                                <li><a href="winners.html">Winners</a></li>
                                                <li><a href="single-winners.html">Winners Details</a></li>
                                                <li><a href="upload-photo.html">Upload Photo</a></li>
                                                <li><a href="#" th:href="@{/auth/register}">Registration</a></li>
                                                <li><a href="404.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-left.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right.html">Blog Right Sidebar</a></li>
                                                <li><a href="single-blog.html">Single Blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12">
                            <div class="cart-area">
                                <a href="cart.html"><i class="fa fa-shopping-basket"></i><span>3</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Menu Section Start Here -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="mobile-logo-area">
                        <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li class="active"><a href="index.html">Home <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index2.html">Home Two</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About <i class="fa fa-angle-down"></i></a> 
                                            <ul>
                                                <li><a href="about.html">About Us</a> 
                                                <li><a href="about-me.html">About Me</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Portfolio <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="portfolio1.html">Portfolio 1</a></li>
                                                <li><a href="portfolio2.html">Portfolio 2</a></li>
                                                <li><a href="single-portfolio.html">Portfolio Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery.html">Gallery  <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="gallery.html">Gallery One</a></li>
                                                <li><a href="gallery1.html">Gallery Two</a></li>
                                                <li><a href="gallery2.html">Gallery Three</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="product-details.html">Product Details</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="photocontest-list1.html">Photo Contest List 1</a></li>
                                                <li><a href="photocontest-list2.html">Photo Contest List 2</a></li>
                                                <li><a href="single-contest1.html">Single Contest 1</a></li>
                                                <li><a href="single-contest2.html">Single Contest 2</a></li>
                                                <li><a href="photo-details.html">Photo Details</a></li>
                                                <li><a href="winners.html">Winners</a></li>
                                                <li><a href="single-winners.html">Winners Details</a></li>
                                                <li><a href="upload-photo.html">Upload Photo</a></li>
                                                <li><a href="registration.html">Registration</a></li>
                                                <li><a href="404.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-left.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right.html">Blog Right Sidebar</a></li>
                                                <li><a href="single-blog.html">Single Blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header area end here-->

        <!-- Slider Area Start Here-->
        <div class="slider-area">
            <div class="bend niceties preview-2">
                <div id="ensign-nivoslider" class="slides">
                    <img src="images/slider/slide_3.jpg" alt="" title="#slider-direction-1" />
                    <img src="images/slider/slide_4.jpg" alt="" title="#slider-direction-2" />
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-1" class="slider-direction">
                    <div class="slider-content t-cn s-tb slider-1">
                        <div class="title-container s-tb-c">
                            <h1 class="title1 uppercase"><span>Your Best</span> Photo Graphy Shop </h1>
                            <div class="slider-botton">
                                <ul>
                                    <li><a class="radius-0" href="shop.html">Shop Now <i class="fa fa-angle-right"></i></a></li>
                                    <li class="acitve"><a class="radius-0" href="about.html">About Us <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-2" class="slider-direction">
                    <div class="slider-content t-cn s-tb slider-2">
                        <div class="title-container s-tb-c">
                            <h1 class="title1 uppercase"><span>Creative</span> Photo Graphy Agency</h1>
                            <div class="slider-botton">
                                <ul>
                                    <li class="acitve"><a class="radius-0" href="winners.html">More Details <i class="fa fa-angle-right"></i></a></li>
                                    <li><a class="radius-0" href="contact.html">Contact Us <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End Here-->

        <!-- Home Two Slider Button Services Start Here -->
        <div class="home-two-services-area">
            <div class="container-fluid acurate">
                <div class="row acurate">
                    <ul>
                        <li>
                            <div class="single-services">
                                <i class="fa fa-camera-retro"></i>
                                <h3><a href="#">Photo Contest Services</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet non ducimus hic vel minus numquam neque iusto, expedita nemo</p>
                                <div class="read-more"><a href="#">Read More</a></div>
                            </div>
                        </li>
                        <li class="hidden-sm">
                            <div class="single-services">
                                <i class="fa fa-camera-retro"></i>
                                <h3><a href="#">Photo Contest Services</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet non ducimus hic vel minus numquam neque iusto, expedita nemo</p>
                                <div class="read-more"><a href="#">Read More</a></div>
                            </div>
                        </li>
                        <li class="hidden-sm hidden-sm">
                            <div class="single-services">
                                <i class="fa fa-camera-retro"></i>
                                <h3><a href="#">Photo Contest Services</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet non ducimus hic vel minus numquam neque iusto, expedita nemo</p>
                                <div class="read-more"><a href="#">Read More</a></div>
                            </div>
                        </li>
                        <li class="hidden-sm hidden-sm">
                            <div class="single-services">
                                <i class="fa fa-camera-retro"></i>
                                <h3><a href="#">Photo Contest Services</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet non ducimus hic vel minus numquam neque iusto, expedita nemo</p>
                                <div class="read-more"><a href="#">Read More</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Home Two Slider Button Services End Here -->       

        <!-- Home About Start Here -->
        <div class="home-about-area pt-100 pb-100 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-md-30">
                        <div class="about-content-area">
                            <div class="about-content-area">
                                <h2>You Know About <span>Shooter</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non natus cumque quidem quo repellat pariatur voluptatum numquam aut soluta, voluptatibus laboriosam dignissimos eaque, illo.</p>
                                <p class="hidden-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum nec risus et suscipit Curabitur metus ipsum.simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <div class="botton-area">
                                    <a class="radius-0" href="about.html">About Us   <i class="fa fa-angle-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-featured-image">
                            <a href="about.html"><img src="images/about/about.jpg" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home About End Here -->

        <!-- Single Photo Contest Start Here --> 
        <div class="home-single-contest pt-90 pb-90 white-bg">
            <div class="home-single single-photo-contest-area inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="section-title">
                                <h2>Our Running <span>Contests</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.Photograhy HTML is very </p>
                            </div>                  
                            <div class="about-content">
                                <h2>Running Contests</h2>
                                <ul class="home-single-slide">
                                    <li>
                                        <div class="item">
                                            <div class="about-image">
                                                <img src="images/about/3.jpg" alt="">
                                                <div class="overley">
                                                    <h4><a href="single-contest1.html">A way of feeling</a></h4>
                                                </div>
                                            </div>
                                            <div class="about-text">
                                                <h3><a href="single-contest1.html">Professional Photo Grapher Contest</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloremque odit, animi sapiente sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="countdown-section">
													<div class="row">
														<div class="col-sm-11"><div class="CountDownTimer" data-date="2018-04-01 00:00:00"></div></div>
														</div>
												</div>
                                                <a class="radius-0 md-mt-30" href="single-contest1.html">Join Now <i class="fa fa-angle-right"></i></a>
                                            </div>  
                                        </div>                                  
                                    </li>

                                    <li>
                                        <div class="item">
                                            <div class="about-image">
                                                <img src="images/about/4.jpg" alt="">
                                                <div class="overley">
                                                    <h4><a href="single-contest1.html">Meet Bird Eye View</a></h4>
                                                </div>
                                            </div>
                                            <div class="about-text">
                                                <h3><a href="single-contest1.html">New Photo Grapher Contest</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloremque odit, animi sapiente sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="countdown-section">
													<div class="row">
														<div class="col-sm-11"><div class="CountDownTimer" data-date="2018-04-01 00:00:00"></div></div>
													</div>
												</div>
                                                <a class="radius-0 md-mt-30" href="single-contest1.html">Register Now <i class="fa fa-angle-right"></i></a>
                                            </div> 
                                        </div>                                       
                                    </li>
                                    <li>
                                        <div class="item">
                                            <div class="about-image">
                                                <img src="images/about/4.jpg" alt="">
                                                <div class="overley">
                                                    <h4><a href="single-contest1.html">Meet Bird Eye View</a></h4>
                                                </div>
                                            </div>
                                            <div class="about-text">
                                                <h3><a href="single-contest1.html">New Photo Grapher Contest</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloremque odit, animi sapiente sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="countdown-section">
													<div class="row">
														<div class="col-sm-11"><div class="CountDownTimer" data-date="2018-12-01 00:00:00"></div></div>
													</div>
												</div>
                                                <a class="radius-0 md-mt-30" href="single-contest1.html">Register Now <i class="fa fa-angle-right"></i></a>
                                            </div> 
                                        </div>                                   
                                    </li>
                                    <li>
                                        <div class="item">
                                            <div class="about-image">
                                                <img src="images/about/4.jpg" alt="">
                                                <div class="overley">
                                                    <h4><a href="single-contest1.html">Meet Bird Eye View</a></h4>
                                                </div>
                                            </div>
                                            <div class="about-text">
                                                <h3><a href="single-contest1.html">New Photo Grapher Contest</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloremque odit, animi sapiente sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>   
                                                <div class="countdown-section">
													<div class="row">
														<div class="col-sm-11"><div class="CountDownTimer" data-date="2018-04-01 00:00:00"></div></div>
													</div>
												</div>
                                                <a class="radius-0 md-mt-30" href="single-contest1.html">Register Now <i class="fa fa-angle-right"></i></a>
                                            </div>  
                                        </div>                                      
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Single Photo Contest End Here --> 

        <!-- Services Start -->
            <section id="rs-services" class="rs-services-3 gray-bg pt-90 pb-100">
                <div class="container">
                    <div class="section-title">
                        <h2>Photo Contest Features</h2>
                    </div>
                    <div class="row rs-vertical-middle">
                            <div class="row">
                                <!-- 1st -->
                                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                                    <div class="common">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="icon-part">
                                                    <i class="fa fa-camera-retro"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="text">
                                                    <a href="services-details.html"><h4>Shop Intregated</h4></a>
                                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                                    <div class="common">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="icon-part">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="text">
                                                    <a href="services-details.html"><h4>Photo Capture</h4></a>
                                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 2nd -->

                                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                                    <div class="common">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="icon-part">
                                                    <i class="fa fa-upload"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="text">
                                                    <a href="services-details.html"><h4>Images Upload</h4></a>
                                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 1st -->
                                <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">
                                    <div class="common">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="icon-part">
                                                    <i class="fa fa-camera-retro"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="text">
                                                    <a href="services-details.html"><h4>Photo Branding</h4></a>
                                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12 mb-sm-30">
                                    <div class="common">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="icon-part">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="text">
                                                    <a href="services-details.html"><h4>Photo Editing</h4></a>
                                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 2nd -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="common">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="icon-part">
                                                    <i class="fa fa-upload"></i>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="text">
                                                    <a href="services-details.html"><h4>Photo Collection</h4></a>
                                                    <p>Lorem ipsum dolor sit amet dolore, consectetur adipisicing elit. Nulla, quam dolore nemo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4th -->

                </div>
            </section>
            <!-- Services End -->

        <!-- Home Page Shop Start Here -->
        <div class="related-winners-area home-shop pt-90 pb-90 white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="section-title">
                            <h2>Our <span>Shop</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.Photograhy HTML is very </p>
                        </div>
                    </div>
                </div>
                <div class="home-ralated">
                    <div class="single-shop-area">
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/1.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/2.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/3.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/4.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/5.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/6.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/shop/7.jpg" alt=""></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <ul class="product-info">
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#"><i class="fa fa-compress"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="product-details.html">Camera Lence</a></h3>
                            <div class="price-details">
                                <ul>
                                    <li>
                                        <del>$150 </del> $120</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Page Shop End Here -->

        <!-- Counter Up Section Start Here-->
        <div class="project-activation-area pt-100 pb-100">
            <div class="container">
                <div class="ab-count md-padding-0">
                    <div class="row">
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12 mb-sm-30 wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-picture-o"></i>
                                <h1 class="about-counter">10222</h1>                      
                                <p>Photos</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12 mb-sm-30 wow fadeInUp" data-wow-duration=".7s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-heart"></i>
                                <h1 class="about-counter">6000</h1>                      
                                <p>Rated</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12 mb-sm-30 wow fadeInUp" data-wow-duration=".9s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-users"></i>
                                <h1 class="about-counter">15642</h1>                     
                                <p>Viewers</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-trophy"></i>
                                <h1 class="about-counter">97</h1>                        
                                <p>Winners </p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Down Section End Here-->

        <!-- Home Blog Start Here -->
        <div class="fix home-blog-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Recent <span>Blog</span> Posts</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.Photograhy HTML is very </p>
                        </div>
                    </div>
                </div>
                <div class="blog-slider">
                    <div class="single-blog-slide">
                        <div class="images">
                            <a href="single-blog.html"><img src="images/blog/1.jpg" alt=""></a>
                            <span>04 <br/>May</span>
                            <div class="overley">
                                <ul>
                                    <li><a href="single-html.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="images/blog/1.jpg" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-informations">
                            <ul>
                                <li><i class="fa fa-user"></i> By Admin</li>
                                <li><i class="fa fa-comments"></i> 2 Comments</li>
                            </ul>
                            <div class="blog-details">
                                <h3><a href="single-blog.html">Loking After Our Photo Contest</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi culpa modi omnis quos voluptatibus.</p>
                                <div class="read-more">
                                    <a href="single-blog.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-slide">
                        <div class="images">
                            <a href="single-blog.html"><img src="images/blog/2.jpg" alt=""></a>
                            <span>05 <br/>May</span>
                            <div class="overley">
                                <ul>
                                    <li><a href="single-html.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="images/blog/2.jpg" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-informations">
                            <ul>
                                <li><i class="fa fa-user"></i> By Admin</li>
                                <li><i class="fa fa-comments"></i> 2 Comments</li>
                            </ul>
                            <div class="blog-details">
                                <h3><a href="single-blog.html">Loking After Our Photo Contest</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi culpa modi omnis quos voluptatibus.</p>
                                <div class="read-more">
                                    <a href="single-blog.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-slide">
                        <div class="images">
                            <a href="single-blog.html"><img src="images/blog/3.jpg" alt=""></a>
                            <span>07 <br/>May</span>
                            <div class="overley">
                                <ul>
                                    <li><a href="single-html.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="images/blog/3.jpg" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-informations">
                            <ul>
                                <li><i class="fa fa-user"></i> By Admin</li>
                                <li><i class="fa fa-comments"></i> 2 Comments</li>
                            </ul>
                            <div class="blog-details">
                                <h3><a href="single-blog.html">Loking After Our Photo Contest</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi culpa modi omnis quos voluptatibus.</p>
                                <div class="read-more">
                                    <a href="single-blog.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-slide">
                        <div class="images">
                            <a href="single-blog.html"><img src="images/blog/4.jpg" alt=""></a>
                            <span>10 <br/>May</span>
                            <div class="overley">
                                <ul>
                                    <li><a href="single-html.html"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="images/blog/4.jpg" data-lightbox="example-set" data-title="Image Title"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-informations">
                            <ul>
                                <li><i class="fa fa-user"></i> By Admin</li>
                                <li><i class="fa fa-comments"></i> 2 Comments</li>
                            </ul>
                            <div class="blog-details">
                                <h3><a href="single-blog.html">Loking After Our Photo Contest</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi culpa modi omnis quos voluptatibus.</p>
                                <div class="read-more">
                                    <a href="single-blog.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Blog End Here -->

        <!-- Partner Logo Area Start Here -->
        <div class="fix client-logo-area pt-90 pb-90">
            <div class="container">
                <div class="client-logo">
                    <div class="single-logo">
                        <a href="#"><img src="images/client/1.jpg" th:src="@{/images/client/1.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/2.jpg" th:src="@{/images/client/2.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/3.jpg" th:src="@{/images/client/3.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/4.jpg" th:src="@{/images/client/4.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/5.jpg" th:src="@{/images/client/5.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/6.jpg" th:src="@{/images/client/6.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/7.jpg" th:src="@{/images/client/7.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/1.jpg" th:src="@{/images/client/1.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/2.jpg" th:src="@{/images/client/2.jpg}" alt=""></a>
                    </div>
                    <div class="single-logo">
                        <a href="#"><img src="images/client/3.jpg" th:src="@{/images/client/3.jpg}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Partner Logo Area End Here -->

        <!-- Footer Area Section Start Here -->
        <footer>
            <div class="footer-top-area pt-100 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="single-footer footer-one">
                                <h3>About Company</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat, maxime vel alias impedit veritatis temporibus, sequi quos veniam eius optio corporis modi dicta molestias at inventore culpa, natus explicabo.</p>
                                <div class="footer-social-media-area">
                                    <nav>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 hidden-sm">
                            <div class="single-footer footer-two">
                                <h3>Twitter Feed</h3>
                                <nav>
                                    <ul>
                                        <li><i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">https://twitter.com/?lang=en</a>
                                            <br/> 3 days ago
                                        </li>
                                        <li><i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">https://twitter.com/?lang=en</a>
                                            <br/> 3 days ago
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 hidden-md col-sm-12">
                            <div class="single-footer footer-three">
                                <h3>Flickr Photos</h3>
                                <ul>
                                    <li>
                                        <a href="#"><img src="../static/images/flicker/1.png" th:src="@{/images/flicker/1.png}" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../static/images/flicker/2.png" th:src="@{/images/flicker/2.png}" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../static/images/flicker/3.png" th:src="@{/images/flicker/3.png}" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../static/images/flicker/4.png" th:src="@{/images/flicker/4.png}" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../static/images/flicker/5.png" th:src="@{/images/flicker/5.png}" alt="flicker photo"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="../static/images/flicker/6.png" th:src="@{/images/flicker/6.png}" alt="flicker photo"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="single-footer footer-four margin-0">
                                <h3>Corporate Office</h3>
                                <nav>
                                    <ul>
                                        <li><i class="fa fa-paper-plane-o"></i> 44 New Design Street, rne 00 USA</li>
                                        <li><i class="fa fa-phone"></i> <a href="tel:+985-2356-14566">+985-2356-14566</a></li>
                                        <li><i class="fa fa-envelope-o"></i> <a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a></li>
                                        <li><i class="fa fa-fax"></i> Fax: (123) 4589761</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-bottom">
                                <p> &copy; Copyrights 2018. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area Section End Here -->

        <!-- jquery latest version -->
        <script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
        <!-- bootstrap js -->
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- owl.carousel js -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- owl.carousel js -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- meanmenu js -->
        <script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
        <!-- jquery-ui js -->
        <script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
        <!-- wow js -->
        <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <!-- jquery.counterup js -->
        <script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
        <script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
        <!-- jquery light box -->
        <script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
        <!-- isotope.pkgd.min js -->
        <script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
        <!-- imagesloaded.pkgd.min js -->
        <script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
        <!-- magnific popup -->
        <script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <!-- jQuery MixedIT Up -->
        <script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
        <!-- Counter Down js -->
        <script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
        <!-- Nivo slider js -->
        <script src="../static/inc/custom-slider/js/jquery.nivo.slider.js" th:src="@{/inc/custom-slider/js/jquery.nivo.slider.js}"></script>
        <script src="../static/inc/custom-slider/home.js" th:src="@{/inc/custom-slider/home.js}"></script>
        <!-- jQuery Multistep form -->
        <script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
        <!-- jquery.fancybox.pack js -->
        <script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
        <!-- plugins js -->
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <!-- jquery weave effects -->
        <script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
        <!-- TimeCircles js -->
        <script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
        <!-- main js -->
        <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    </body>
</html>