<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/general.html::head (title = 'Home')"></div>
<body class="home">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->

<!-- Inner Page Header serction start here -->

<div class="inner-page-header">
    <a href="registration.html"><img src="../static/images/banner/2.jpg" th:src="@{/images/banner/2.jpg}" alt="2"></a>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Registration</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a href="#" th:href="@{/auth/login}">Login /</a> Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Login and Registration start Here -->

<div class="loginregistration-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="registration-area">
                    <h2>Registration</h2>
                    <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>User Name *</label>
                                    <input type="text" class="form-control" placeholder="Username"
                                           th:field="*{username}" required/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password"
                                           th:field="*{password}" required/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label> Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm password"
                                           th:field="*{passwordConfirm}" required/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label> First Name</label>
                                    <input type="text" class="form-control" placeholder="First name"
                                           th:field="*{firstName}" required/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label> Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last name"
                                           th:field="*{lastName}" required/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label> E-mail</label>
                                    <input type="email" class="form-control" placeholder="Email address"
                                           th:field="*{email}" required/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button class="btn-send" type="submit">Sign Up!</button>
                                </div>
                            </div>
                        </fieldset>
                        <div style="width: 100%; text-align: center">
                            <label class="error" style="color: red; position: center" th:errors="*{username}">Username
                                error placeholder</label>
                            <label class="error" style="color: red; position: center" th:errors="*{password}">Password
                                error placeholder</label>
                            <label class="error" style="color: red; position: center"
                                   th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
                            <label class="error" style="color: red; position: center" th:errors="*{firstName}">First
                                name error placeholder</label>
                            <label class="error" style="color: red; position: center" th:errors="*{lastName}">Last
                                name error placeholder</label>
                            <label class="error" style="color: red; position: center" th:errors="*{email}">Email
                                error placeholder</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login and Registration End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- Nivo slider js -->
<script src="../static/inc/custom-slider/js/jquery.nivo.slider.js"
        th:src="@{/inc/custom-slider/js/jquery.nivo.slider.js}"></script>
<script src="../static/inc/custom-slider/home.js" th:src="@{/inc/custom-slider/home.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>